/* COLORS */
$purple: #9d63e2;
$cyan: #55d6d3;
$red: #f45757;
$orange: #f3aa50;
$yellow: #f3cf50;
$green: #66b039;

$bg_blue: #edf8ff;
$bg_grey: #fcfcfe;

$surface_grey: #f5f6f8;

$line_light_grey: #efefef;

$text_light_grey: #bec2d5;
$text_medium_grey: #afb3c3;
$text_dark_grey: #262f56;

/* FONTS */
$nunito: "Nunito", sans-serif;

/* BORDER-RADIUS */

$radius_small: 10px;
$radius_medium: 16px;
$radius_hover: 8px;

:root {
  --radius_big: 15px;

  @mixin m_screen {
    --radius_big: 30px;
  }
}

/* PADDINGS */
$body_padding: 15px;
$hover_padding: 7px;

/* ANIMATION */
$anim_fast: 0.2s;
$anim_medium: 0.6s;
$anim_slow: 1s;
