/* VENDORS */
@import "normalize.css";

/* BASE */
@import "base/_variables";
@import "base/_mixins";
@import "base/_global";

/* MODULES */
@import "modules/_main-wrapper";
@import "modules/_header";
@import "modules/_content";
@import "modules/_sidebar";
@import "modules/_user";
@import "modules/_notification";
@import "modules/_searchbar";
@import "modules/_taskcard";
@import "modules/_upgrade";
@import "modules/_calendar";
@import "modules/_button";
@import "modules/_burger";
