.button {
  display: inline-block;
  padding: 8px 16px;

  font-size: 0.9rem;
  font-weight: 400;
  color: #fff;

  background-color: $purple;
  border: none;
  border-radius: $radius_small;

  transition: $anim_fast ease-out;
  transition-property: background-color, color;

  &:hover {
    background-color: #fff;
    color: $text_dark_grey;
  }
}
