.calendar {
  flex: 1;
  display: flex;
  flex-direction: column;

  padding: 20px;

  background-color: #fff;
  border-radius: $radius_big;
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.05);

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
  }

  &__month-txt {
    font-size: 1.1rem;
    font-weight: 600;
    color: $text_dark_grey;
  }

  &__today-txt {
    font-size: 0.9rem;
    font-weight: 600;
    color: $purple;
  }

  &__wrap {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  &__days-name {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 15px;
    margin-bottom: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid $line_light_grey;

    li {
      font-size: 0.9rem;
      font-weight: 600;
      color: $text_light_grey;
      text-transform: uppercase;
      list-style: none;
    }
  }

  &__week-days {
    flex: 1;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 15px;

    counter-reset: days;
  }

  &__day {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    padding: 10px;
    background-color: $surface_grey;
    border-radius: $radius_medium;
    list-style: none;

    counter-increment: days;

    &:first-child {
      grid-column-start: 3;
    }

    &::after {
      content: counter(days);
      position: absolute;
      top: 15px;
      left: 10px;

      font-size: 0.8rem;
      font-weight: 800;
      color: $text_medium_grey;
    }

    &--busy {
      background-color: #fff;
      box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.05);
    }

    &--busy::after {
      color: $text_dark_grey;
    }
  }

  &__task {
    display: flex;
    flex-direction: column;
  }

  &__task-tag {
    display: inline-block;
    height: 7px;
    width: 7px;
    background-color: $surface_grey;
    border-radius: 50%;

    &--purple {
      background-color: $purple;
    }

    &--yellow {
      background-color: $yellow;
    }

    &--cyan {
      background-color: $cyan;
    }
  }

  &__task-counter {
    margin-top: 5px;
    font-size: 0.8rem;
    font-weight: 800;
    color: $text_dark_grey;
  }
}
