.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 15px;
  background-color: #fff;
  overflow-y: scroll;

  @mixin m_screen {
    padding: 25px;
  }

  @mixin l_screen {
    padding: 45px;
  }

  & > * + * {
    margin-top: 10px;

    @mixin s_screen {
      margin-top: 20px;
    }

    @mixin l_screen {
      margin-top: 30px;
    }
  }

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    @mixin l_screen {
      flex-direction: column;
      justify-content: stretch;
      align-items: stretch;
    }
  }
}
