.cursor {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  height: 25px;
  width: 25px;
  transform: translate(-50%, -50%); /* center fake-cursor on mouse */
  background-color: rgb(22, 36, 40);
  border-radius: 50%;
  opacity: 0.15;
  pointer-events: none; /* allow select on click underneath */

  transition: all 0s ease-out;
  transition-property: height, width;
  transform-origin: center;

  z-index: 999999;
}
