.main-wrapper {
  display: flex;
  flex-direction: row;
  height: 985px;
  width: 1475px;
  border-radius: 50px;
  background-color: #fff;
  box-shadow: 0px 15px 35px 0px #d1e0e9;
  overflow: hidden;
}
