.user {
  display: flex;
  align-items: center;
  font-display: row;

  &__avatar {
    height: 65px;
    width: 65px;
    object-fit: cover;
    border-radius: 50%;
    overflow: hidden;

    &--small {
      max-height: 35px;
      max-width: 35px;
    }
  }

  &__infos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 200px;
    padding-left: 20px;
  }

  &__name {
    display: inline;
    margin-bottom: 2px;
    margin-left: -$hover_padding;
    padding: calc($hover_padding / 2) $hover_padding;
    border-radius: $radius_hover;
    font-size: 1.4rem;
    font-weight: 600;
    color: $text_dark_grey;
  }

  &__position {
    font-size: 1rem;
    color: $text_medium_grey;
  }
}
